img{float: left; border-radius: 30px;max-width: 25%; max-height: 25%;margin-top: 5px; margin-right: auto; margin-left:auto; display: block;}
h2{Margin: 20px;margin-top: 230px; border:2px rgb(112, 109, 109);padding:1px; background-color:rgb(72, 72, 134)}
body{font-family: sans-serif;font-weight: lighter;color: rgb(0, 0, 0);}
h1{font-style: italic; font-weight: bold;